body {
    margin:0;
    min-height: 100vh;
}

.container {
    display: flex;
    
}

header{
    background-color: lightseagreen;
    width: 100%;
    height: 25vh;
}

nav{
    background-color: lightgray;
    width: 25%;
    height: 50vh;
}

.content{
    background-color: lightcoral;
    width: 50%;
    height: 50vh;
}

.ads{
    background-color: lightgreen;
    width: 25%;
    height: 50vh;
}

footer{
    background-color: lightsalmon;
    width: 100%;
    height: 25vh;
}