
.wrapper :not(.full-bleed){
    width: 680px;
    margin: auto;
    
}

body{
    height:100vh;
}

.full-bleed {
    width: 100%;
    height: 50vh;
}

img {
    object-fit: cover;
}


h1{
    background-color: rgba(250, 0, 250, 0);
}

p{
    background-color: lightcoral
}

img{
    background-color: green;
}