body {
    min-height: 200vh;

}

ul {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    padding: 1rem;
}

nav {
    box-shadow: 5px 5px grey;
    position: sticky;
    top: 20px;
}