body {
    margin:0;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 50vh;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blue;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgrey;
}

.ads {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: blueviolet;
}

header{
    background-color: lightseagreen;
    width: 100%;
    height: 25vh;
}

footer{
    background-color: lightsalmon;
    width: 100%;
    height: 25vh;
}